ln_data/flickr.zip
ln_data/other/
ln_data/refclef.zip
ln_data/referit/
ln_data/referitdata.tar.gz
data.tar
data/
pretrain/
**/__pycache__/
ln_data/flickr/
ln_data/gref/
ln_data/gref_umd/
ln_data/unc+/
ln_data/unc/
**/.ipynb_checkpoints/
**.pth
